.DashboardTitle{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* margin-top: 20px; */
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 6px;
  /* z-index: 99999999999999999999; */
  margin-left: 4.1rem;
  border-bottom: 2px solid #081225;
  /* border-left: 2px solid #081225; */
  width: auto;
  /* width: auto; */
 
}

.Dashname{
  margin-top: 2rem;
}

.dashicon{
  margin-top: 2rem;
}

.DashboardTitle:hover{
  cursor: default;
  border-bottom: 2px solid #EDEEEE;
  transition: all 0.5s ease-in-out;
}

.DashboardContainer {
  display: flex;
  margin-left: 3rem;
  overflow-x: hidden;
  /* justify-content: center; */
  /* align-items: center; */
}

@media screen and (max-width: 1000px) {
  .DashboardContainer {
    display: flex;
    flex-direction: column;
  }
}


.LeftSection {
  /* display: flex; */
  /* flex-direction: column; */
  margin-left: 20px;
  width: 50%;
  /* border-right: yellow; */
  /* border: 5px; */
}

@media screen and (max-width: 1000px) {
  .LeftSection{
    width: 100%;
  }
}

/* @media screen and (min-width: 1001px) {
  .LeftSection{
    width: 50%;
  }
} */

@media screen and (max-width: 1000px) {
  .LeftSection{
    width: 100%;
  }
}

.RightSection {
  margin-right: 40px;
  width: auto;
  /* border-left: 2px solid yellow; */
  /* padding: 10px;
  margin-left: 20px; */
  
}

@media screen and (max-width: 1000px) {
  .RightSection {
    margin-left: -29px;
  }
  .AgendaTitleText {
    margin-left: -17px;
  }
}


@media screen and (max-width: 1000px) {
  .RightSection{
    width: 100%;
  }
}

.RightContainer {
  align-content: left;
  height: 530px;
  margin-left: -240px;
  margin-top: -50px;
  overflow-y: scroll;
  width: auto;
}

.InboxContainer {
  width: auto;
  margin-top: -85px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-right: auto;
}

@media screen and (max-width: 1000px) {
  .InboxContainer {
    margin-left: 220px;
    /* margin-left: 260px; */
  }
}

.AgendaText {
  width: auto;
  height: 130px;
  z-index: 9999;
  margin-left: 68px;
}

.AgendaTitleText {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  z-index: 99999999999999999999;
}

.TopContainer {
  border-color: #1A202C;
}

.BudgetContainer {
  border-style: solid;
  border-color: yellow;
}

.BudgetTitleText {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.BottomContainer {
  border-color: pink;
  margin-left: -30px;
  /* width: 670px; */
}

.DriveContainer {
  border-style: solid;
  border-color: blue;
  /* margin-right: 30px; */
}

@media screen and (max-width: 1000px) {
  .HorLine2 {
    color: grey;
    background-color: grey;
    height: 100%;
    width: 5px;
    z-index: 9999;
  }
}

.HorLine2 {
  display: none;
}
